<ion-header>
  <ion-toolbar>
    <ion-title>libro</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-searchbar [debounce]="1000" (ionChange)="buscar($event)"></ion-searchbar>

    <ion-card *ngFor="let libro of libros1" class="user-list">
  
      <ion-card-header>
        <ion-card-title class="ion-text-center" >{{libro.titulo}}</ion-card-title>
      </ion-card-header>
      
        <img class="avatar" src="{{libro.foto}}">
      <ion-card-content>  
        <ion-label><b>Codigo ISBN: </b>{{libro.codigoISBN}}</ion-label>
        <br>
        <ion-label><b>Autor: </b>{{libro.autor}}</ion-label>
        <br>
        <ion-label><b>Editorial: </b>{{libro.editorial}} </ion-label>
        <br>
        <ion-label><b>Categoria: </b>{{libro.categoria}}</ion-label>
        <br>
        <ion-label><b>Cantidad: </b>{{libro.Cantidad}}</ion-label>
        <br>
        <ion-label><b>Estado: </b>{{libro.estado}}</ion-label>
        <br>
      </ion-card-content>

      <ion-footer>
      
     
      
      
        <ion-button color="secondary" shape="round" type="submit"  expand="full" (click)="Reservar(libro.id)">
          Revervar</ion-button>
        </ion-footer>
        
    </ion-card>
 </div>

</ion-content>
