<ion-header>
  <ion-toolbar>
    <ion-title>INICIO DE SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img class="avatar"
      src="https://www.ups.edu.ec/documents/20121/77326/Isotipo+Original.png/48fb2ada-b4e7-09df-b45a-884cda62cc9b?version=1.0&t=1620746533255&imagePreview=1"
      alt="Logo de User">
    <br>



    <ion-item>
      <ion-input type="text" name="email" placeholder="Email" type="text" [(ngModel)]="user.email">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item>

      <ion-input type="password" name="password"  [(ngModel)]="user.password" placeholder="**************">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-input>
    </ion-item>

   

    <div class="sign-btn-wrap">
      <ion-button shape="round" type="submit" fill="solid" class="sign-btn" (click)="login(user.password)">Login</ion-button>
    </div>
    <div class="sign-btn-wrap">
      <ion-button size="small" fill="outline" shape="round" color="light" href="/register">
        Registrarse
      </ion-button>
    </div>
    <div class="text-tag">
      <span>Or via Social Media</span>
    </div>
    <div class="social-btns">

      <ion-button fill="clear" class="googlebtn ion-no-padding">
        <ion-img src="assets/icon/logoGoogle.png"></ion-img>
      </ion-button>


    </div>



</ion-content>