<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Perfil
    </ion-title>

  

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo ">
  <h3 class="subtitulo encabezado">Ingrese tus datos</h3>
  <ion-item >
    <ion-label class="normal">
        Foto refencial:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
         <label for="file-upload">
           <ion-icon slot="icon-only" name="images"></ion-icon>
         </label>
          <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
      </ion-button>
    </ion-buttons>
  </ion-item>
  
    <img class="image"  [src]="paciente.foto">
  
    <ion-item>
      <ion-label   class="normal" position="floating">
          Nombre
      </ion-label>
      <ion-input name="nombre"  [(ngModel)]="paciente.nombre" class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label   class="normal" position="floating">
          Dirección
      </ion-label>
      <ion-input name="direccion"  [(ngModel)]="paciente.direccion" class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label   class="normal" position="floating">
          Celular
      </ion-label>
      <ion-input name="celular"  [(ngModel)]="paciente.celular" class="normal" type="number" inputmode="text">
      </ion-input>
    </ion-item>
   
    
      <ion-button shape="round" expand="block"  (click)="guardarUser()"  class="normal" color="success">Actualizar</ion-button>
  
    
      <ion-button shape="round" expand="block"  href="/perfil"   class="normal" color="danger">Cancelar</ion-button>
    <br>
  </div>
</ion-content>