<ion-header>
  <ion-toolbar>
    <ion-title>Reservar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome" color="dark" routerLink="../tab-inicial-cliente"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">


    <ion-card  class="user-list">
  
      <ion-card-header>
        <ion-card-title class="ion-text-center" >{{libro.titulo}}</ion-card-title>
      </ion-card-header>
      
        <img class="avatar" style=" width:100px;
        height: 100px; text-align: center;" src="{{libro.foto}}">
      <ion-card-content>  
    
        <ion-label><b>Codigo ISBN: </b>{{libro.codigoISBN}}</ion-label>
        <br>
        <ion-label><b>Autor: </b>{{libro.autor}}</ion-label>
        <br>
        <ion-label><b>Editorial: </b>{{libro.editorial}} </ion-label>
        <br>
        <ion-label><b>Categoria: </b>{{libro.categoria}}</ion-label>
        <br>
        <ion-label><b>Cantidad: </b>{{libro.Cantidad}}</ion-label>
        <br>
        <ion-label><b>Estado: </b>{{libro.estado}}</ion-label>
        <br>
      </ion-card-content>

      <ion-footer>
      
     
      
      
    
  
     
        

        <h1>Ingrese cantidad</h1>
       
        <ion-input name="celular" class="normal" [(ngModel)]="cantidad" inputmode="number">
        </ion-input>
      <ion-button color="secondary" shape="round" type="submit"  expand="full" (click)="guardar()">
        Guardar</ion-button>
        
      </ion-footer>
    </ion-card>
 </div>
</ion-content>
