<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-start">Cliente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome" color="dark" routerLink="../tabinical"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
    <ion-card  class="card-item" *ngFor="let clients of libros1">
     
    
      <ion-card-header>
        <ion-card-title style="text-align: center;">{{clients.name}}</ion-card-title>
      </ion-card-header>
      <img src={{clients.photo}} alt="ion">
      <ion-card-content>
        <ion-card-subtitle><b>Email: </b>{{clients.email}}</ion-card-subtitle>
        
        
      </ion-card-content>
      <ion-footer>
        
       
      </ion-footer>
    </ion-card>
  </div>
  </ion-content>
  
