<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="fondo">
   
  
   

   
        <h3 style="text-align: center;">Bienvenidos</h3>
      
     
        <img class="avatar" style="align-items: center;" src="../../assets/shapes.svg" >
      
        <ion-button  fill="outline" size="large" shape="round" expand="block" routerLink="../crear-cita">Crear Citas</ion-button>

        <br><br><br>
        
        <ion-button  fill="outline" size="large" shape="round" expand="block" routerLink="../listar-cita" >Citas </ion-button>
        <br><br><br>

        <ion-button  fill="outline" size="large" shape="round" expand="block" routerLink="../perfil">Perfil</ion-button>
        <br><br><br>

      
   
   
    
    <br>
</div>
</ion-content>
